.login-form{
   display: block; 
}

.form-wrapper {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    width: 30%;
    background: white;
    margin: 100px auto;
    height: 300px;
    border-radius: 5px;
    text-align: center;
    color: mediumpurple;
    
}

.login-form span{
    font-family: "Times New Roman", Times, serif;
}

.login-input input{
    width: 75%;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 15px;
    border: 2px solid black;
    border-radius: 3px;
    padding: 10px;
    font-size: 20px;
    background: ;
    font-weight: 300;
}

.login-page{
    text-align: justify;
    font-size: 40px;
    font-weight: 400;
    font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    
}

button{
    height: 50px;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    color: #403866;
    background: #827ffe;
    padding: 10px;
    border: 0px solid #827ffe;
    border-radius: 2px;
}

button:hover{
    background: #403866;
    border: 0px solid #403866;
    color: #827ffe;
}
.login-button{
    text-align: center;
    margin-top: 40px;
}

.checkbox {
    text-align: none;
    float: left;
    margin-left: 35px;
    margin-right: 20px;
    
}

.forget {
    margin-right: -40px;
}

.login-input{
    padding: 0px;
    margin-top: 20px;
}

#remember {
    color: black;
}

#password {
    margin-top: -1px;
}

