.report-form{
    width: 98%;
    height: 90%;
    padding: 10px;
  
}

.left-form{
    height: 98%;
    width: 30%;
    float: left;
    margin-right: 10px;
    
}

.report{
    display: block;
    padding: 10px;
  
}

.report input{
    width: 80%;
    height: 50px;
    margin-top: 10px;
    border: 2px solid darkcyan;
    border-radius: 3px;
    padding-left: 10px;
    font-size: 18px;
    margin-left: 30px;
}

select{
    width: 80%;
    height: 50px;
    margin-top: 10px;
    font-family: arial, sans-serif;
    border-radius: 3px;
    font-size: 18px;
    border: 2px solid darkcyan;
    margin-left: 30px;
}

p{
    font-family: arial, sans-serif;
    font-size: 22px;
    color: darkcyan;
    text-align: center;
}

textarea{
    width: 80%;
    height: 150px;
    margin-top: 10px;
    font-family: arial, sans-serif;
    border: 2px solid darkcyan;
    font-size: 18px;
    margin-left: 30px;
}

#submit{
    width: 80%;
    margin: 30px;
    background-color: darkcyan;
}

#submit:hover{
    background: #32f2eb;
}